<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update {{Student[0]}} Details</title>
</head>
<body>
    <h1>Update</h1>
    <form action="/edit/{{student[0]}}" method="POST"></form>
        Student Name:<input type="text" id="student_name" name="student_name" value="{{student[1]}}">
        Student DOB:<input type="date" id="student_dob" name="student_dob" value="{{student[2]}}">
        Student email:<input type="email" id="student_email" name="student_email" value="{{student[3]}}">
        <button type="submit"> submit</button> 
    
</body>
</html>